<div class="container">
    <mat-card>
        <mat-card-header>
          <mat-card-title>View Book</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <p> <img src="{{ image }}" alt="Book Image" width="50" height="50"></p> 
            <p><b>Id</b>: {{ id }}</p>
            <p><b>Author </b>: {{ authorFullName }} </p>
            <p><b>Title</b>: {{ title }}</p>
            <p class="align-content"><b>Description </b>: {{ description }} </p>
            <p><b>Price</b>: {{ price | currency:'USD' }} </p>
            <p><b>Isbn </b>: {{ isbn }} </p>
            <p><b>Pages</b>: {{ pages }}</p>
            <p><b>Release Date </b>: {{ releaseDate | date:'mediumDate' }} </p>
            <p><b>Category</b>: {{ categoryName }}</p>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-raised-button color="accent" (click)="closeDialog()">Close</button>
          </mat-card-actions>
    </mat-card>
</div>

