<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Edit Book</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="scrollable-content">
            <form [formGroup]="bookForm">
                <mat-form-field class="field-id" appearance="outline">
                    <mat-label>Id</mat-label>
                    <input matInput formControlName="id" [readonly]="true">
                    @if(bookForm.get('id')?.invalid) {
                    <mat-error>{{ getErrorMessage('id') }}</mat-error>
                    }
                </mat-form-field>
                <mat-form-field class="field-title" appearance="outline">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title">
                    @if(bookForm.get('title')?.invalid) {
                    <mat-error>{{ getErrorMessage('title') }}</mat-error>
                    }
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <textarea matInput class="text-justify" rows="6" placeholder="Description" 
                        formControlName="description"></textarea>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Price</mat-label>
                    <input matInput formControlName="price">
                    @if(bookForm.get('price')?.invalid) {
                    <mat-error>{{ getErrorMessage('price') }}</mat-error>
                    }
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Isbn</mat-label>
                    <input matInput formControlName="isbn">
                    @if(bookForm.get('isbn')?.invalid) {
                    <mat-error>{{ getErrorMessage('isbn') }}</mat-error>
                    }
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Pages</mat-label>
                    <input matInput formControlName="pages">
                    @if(bookForm.get('pages')?.invalid) {
                    <mat-error>{{ getErrorMessage('pages') }}</mat-error>
                    }
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Choose a release date</mat-label>
                    <input matInput formControlName="releaseDate" [matDatepicker]="releaseDate">
                    @if(bookForm.get('releaseDate')?.invalid) {
                    <mat-error>{{ getErrorMessage('releaseDate') }}</mat-error>
                    }
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="releaseDate"></mat-datepicker-toggle>
                    <mat-datepicker #releaseDate></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Image</mat-label>
                    <input matInput formControlName="image">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-select placeholder="Select an author...." name="authors" formControlName="authorId">
                        <mat-option *ngFor="let auth of authorsSelect" [value]="auth.id">{{auth.firstName}}
                            {{auth.lastName}}</mat-option>
                    </mat-select>
                    @if(bookForm.get('authorId')?.invalid) {
                    <mat-error>{{ getErrorMessage('authorId') }}</mat-error>
                    }
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-select placeholder="Select a category...." name="categories" formControlName="categoryId">
                        <mat-option *ngFor="let cat of categoriesSelect" [value]="cat.id">{{ cat.name }}</mat-option>
                    </mat-select>
                    @if(bookForm.get('categoryId')?.invalid) {
                    <mat-error>{{ getErrorMessage('categoryId') }}</mat-error>
                    }
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions align="end">
            <button class="button-action" mat-raised-button color="primary" (click)="save()">Save</button>
            <button mat-raised-button color="accent" (click)="close()">Close</button>
        </mat-card-actions>
    </mat-card>
</div>