table {
    width: 100%;
}

.left {
    padding: 10px;
    text-align: end;
} 

.color-button-edit {
    background-color: #ffffff;  /* Change the background color */
    color:  #ff7b00;/* Change the color of the image */
    margin-right: 5px;
}
.color-button-delete {
        color: #ff0000; 
        background-color: #ffffff; 
        margin-right: 5px;
}

.color-button-detail {
    color: hsl(224, 100%, 50%);  
        background-color: #ffffff;
        margin-right: 5px;
}

.options {
    text-align: center;
}

.center-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-label-price {
    padding-left: 580px;
}

.align-right {
    text-align: right;
    padding-right: 100px;
}

img {
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
}