.container {
    width: 500px;
    height: 320px;
    padding: 10px;
}

mat-card {
    padding: 10px;
    width: 100%;
    height: 100%;
}

.mat-divider {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mat-mdc-form-field {
    display: block;
}

.button-action {
    margin-right: 5px;
}

.field-id {
    margin-top: 10px;
}